- provide(:title,'bio')
%h1 equipment
%p
  I really enjoy shooting 120mm film with my '58 Ricoh Diacord, but
  I find myself shooting most frequently with my ancient but trustworthy
  Canon DSLR.
%p
  Ocassionally I shoot with my '70s Olympus OM-1n and OM-2n.

%h1 software
%p
  The software behind this gallery is one of my Rails projects. I've
  made it available on 
  %a(href='https://github.com/aljets/photoblog')github
  for anyone to use.
