%header
  %nav
    %span#logo
      = link_to_unless params[:action] == 'home', 'gallery', root_path
    %ul
      %li= link_to_unless params[:action] == 'bio', 'bio', bio_path
  #subtitle
    %ul
      %li= link_to_unless params[:action] == 'gallery', 'view archives', '#'
  %br.clear
