%header
  %nav
    - #if params[:controller] == 'static_pages' && params[:action] == 'home'
    = link_to 'home', root_path, id: current_page?('home')? 'current':''
    |
    = link_to 'gallery', '#', id: current_page?('gallery')? 'current':''
    |
    = link_to 'bio', bio_path, id: current_page?('bio')? 'current':''
  #title
    photoblog
    %span#subtitle | film + digital
  %br.clear
